In [2]:
import pandas as pd

# Load raw file
players= pd.read_csv("players.csv")

print("Number of columns in dataframe:", len(players.columns))
print(players.columns.tolist())

Number of columns in dataframe: 31
['Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Awards', 'Year']

In [55]:
import pandas as pd

# Load CSV
players = pd.read_csv("players.csv")

# Drop unwanted columns if they exist
players = players.drop(columns=["Unnamed: 0", "Rk"], errors="ignore")

# Save cleaned file (overwrite original)
players.to_csv("players.csv", index=False)

# Reload to confirm
players= pd.read_csv("players.csv")

print("Number of columns in dataframe:", len(players.columns))
print(players.columns.tolist())

Number of columns in dataframe: 31
['Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Awards', 'Year']

In [4]:
import pandas as pd

# Load raw file
players = pd.read_csv("players.csv")

print("Number of columns in dataframe:", len(players.columns))
print(players.columns.tolist())

Number of columns in dataframe: 31
['Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Awards', 'Year']

In [5]:
import pandas as pd

In [6]:
mvps=pd.read_csv("mvps.csv")
mvps

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,0,1,Michael Jordan,27,CHI,77,891,960,0.928,82,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,1,2,Magic Johnson,31,LAL,10,497,960,0.518,79,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,2,3,David Robinson,25,SAS,6,476,960,0.496,82,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,3,4,Charles Barkley,27,PHI,2,222,960,0.231,67,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,4,5,Karl Malone,27,UTA,0,142,960,0.148,82,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,7,7T,Anthony Edwards,23,MIN,0,12,1000,0.012,79,...,5.7,4.5,1.2,0.6,0.447,0.395,0.837,8.4,0.140,2025
516,8,9,Stephen Curry,36,GSW,0,2,1000,0.002,70,...,4.4,6.0,1.1,0.4,0.448,0.397,0.933,7.9,0.168,2025
517,9,10T,Jalen Brunson,28,NYK,0,1,1000,0.001,65,...,2.9,7.3,0.9,0.1,0.488,0.383,0.821,8.3,0.172,2025
518,10,10T,James Harden,35,LAC,0,1,1000,0.001,79,...,5.8,8.7,1.5,0.7,0.410,0.352,0.874,8.3,0.143,2025
519,11,10T,Evan Mobley,23,CLE,0,1,1000,0.001,71,...,9.3,3.2,0.9,1.6,0.557,0.370,0.725,9.0,0.200,2025

In [7]:
mvps=mvps[["Player", "Year", "Pts Won", "Pts Max", "Share"]]

In [56]:
mvps

              Player  Year  Pts Won  Pts Max  Share
0     Michael Jordan  1991      891      960  0.928
1      Magic Johnson  1991      497      960  0.518
2     David Robinson  1991      476      960  0.496
3    Charles Barkley  1991      222      960  0.231
4        Karl Malone  1991      142      960  0.148
..               ...   ...      ...      ...    ...
515  Anthony Edwards  2025       12     1000  0.012
516    Stephen Curry  2025        2     1000  0.002
517    Jalen Brunson  2025        1     1000  0.001
518     James Harden  2025        1     1000  0.001
519      Evan Mobley  2025        1     1000  0.001

[520 rows x 5 columns]

In [9]:
mvps

              Player  Year  Pts Won  Pts Max  Share
0     Michael Jordan  1991      891      960  0.928
1      Magic Johnson  1991      497      960  0.518
2     David Robinson  1991      476      960  0.496
3    Charles Barkley  1991      222      960  0.231
4        Karl Malone  1991      142      960  0.148
..               ...   ...      ...      ...    ...
515  Anthony Edwards  2025       12     1000  0.012
516    Stephen Curry  2025        2     1000  0.002
517    Jalen Brunson  2025        1     1000  0.001
518     James Harden  2025        1     1000  0.001
519      Evan Mobley  2025        1     1000  0.001

[520 rows x 5 columns]

In [10]:
players["Player"].head(50)

0        Michael Jordan
1           Karl Malone
2          Bernard King
3       Charles Barkley
4         Patrick Ewing
5         Michael Adams
6     Dominique Wilkins
7          Chris Mullin
8        David Robinson
9     Orlando Woolridge
10       Mitch Richmond
11         Tim Hardaway
12        Reggie Miller
13        Kevin Johnson
14       Hersey Hawkins
15        Tony Campbell
16       Brad Daugherty
17        Clyde Drexler
18         James Worthy
19      Hakeem Olajuwon
20         Ricky Pierce
21         Ricky Pierce
22         Ricky Pierce
23           Joe Dumars
24          Roy Tarpley
25         Antoine Carr
26        Charles Smith
27       Wayman Tisdale
28     Rolando Blackman
29         Tom Chambers
30         Derek Harper
31           Ron Harper
32           Larry Bird
33        Magic Johnson
34          Larry Nance
35         Reggie Lewis
36          Jeff Malone
37         Reggie Theus
38      Sherman Douglas
39      Derrick Coleman
40         Kevin McHale
41         Chuck Person
42         Harvey Grant
43        Tyrone Corbin
44       Lionel Simmons
45       Scottie Pippen
46          Kenny Smith
47       Terry Cummings
48          Otis Thorpe
49           Ken Norman
Name: Player, dtype: object

In [11]:
players["Player"] = players["Player"].str.replace("*", "", regex=False)

In [12]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/shetty/Library/Python/3.11/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/shetty/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [13]:
def single_row(df):
    if df.shape[0] == 1:
        return df
    else:
        row = df[df["Team"] == "2TM"]
        row["Team"] = df.iloc[-1,:]["Team"]
        return row

players = players.groupby(["Player", "Year"]).apply(single_row)

/var/folders/p6/kfrmd5x159z9qp87fnnkrfv80000gn/T/ipykernel_83171/1931423728.py:9: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  players = players.groupby(["Player", "Year"]).apply(single_row)

In [14]:
players.head(20)

                                 Player   Age Team Pos     G    GS    MP   FG  \
Player        Year
A.C. Green    1991 178       A.C. Green  27.0  LAL  PF  82.0  21.0  26.4  3.1
              1992 535       A.C. Green  28.0  LAL  PF  82.0  53.0  35.4  4.7
              1993 1006      A.C. Green  29.0  LAL  PF  82.0  55.0  34.4  4.6
              1994 1424      A.C. Green  30.0  PHO  PF  82.0  55.0  34.5  5.7
              1995 1964      A.C. Green  31.0  PHO  SF  82.0  52.0  32.8  3.8
              1996 2527      A.C. Green  32.0  PHO  SF  82.0  36.0  25.8  2.6
              1997 3057      A.C. Green  33.0  DAL  PF  83.0  73.0  30.0  2.8
              1998 3651      A.C. Green  34.0  DAL  PF  82.0  68.0  32.3  3.0
              1999 4251      A.C. Green  35.0  DAL  PF  50.0  35.0  18.5  2.2
              2000 4765      A.C. Green  36.0  LAL  PF  82.0  82.0  23.5  2.1
              2001 5308      A.C. Green  37.0  MIA  PF  82.0   1.0  17.2  1.8
A.J. Bramlett 2000 4937   A.J. Bramlett  23.0  CLE   C   8.0   0.0   7.6  0.5
A.J. English  1991 182     A.J. English  23.0  WSB  SG  70.0  12.0  20.6  3.6
              1992 577     A.J. English  24.0  WSB  SG  81.0   6.0  20.6  4.5
A.J. Green    2023 18726     A.J. Green  23.0  MIL  SG  35.0   1.0   9.9  1.5
              2024 19382     A.J. Green  24.0  MIL  SG  56.0   0.0  11.0  1.5
              2025 19984     A.J. Green  25.0  MIL  SG  73.0   7.0  22.7  2.5
A.J. Guyton   2001 5226     A.J. Guyton  22.0  CHI  PG  33.0   8.0  19.1  2.4
              2002 5783     A.J. Guyton  23.0  CHI  PG  45.0   6.0  13.5  2.0
              2003 6476     A.J. Guyton  24.0  GSW  PG   2.0   0.0   4.5  0.0

                           FGA    FG%  ...  DRB  TRB  AST  STL  BLK  TOV   PF  \
Player        Year                     ...
A.C. Green    1991 178     6.6  0.476  ...  3.8  6.3  0.9  0.7  0.3  1.2  1.4
              1992 535     9.8  0.476  ...  5.6  9.3  1.4  1.1  0.4  1.4  1.7
              1993 1006    8.6  0.537  ...  5.2  8.7  1.4  1.1  0.5  1.4  1.8
              1994 1424   11.3  0.502  ...  5.8  9.2  1.7  0.9  0.5  1.2  1.7
              1995 1964    7.5  0.504  ...  5.8  8.2  1.5  0.7  0.4  1.4  1.8
              1996 2527    5.4  0.484  ...  4.7  6.8  0.9  0.5  0.3  1.0  1.7
              1997 3057    5.8  0.483  ...  5.2  7.9  0.8  0.8  0.2  0.9  1.7
              1998 3651    6.5  0.453  ...  5.5  8.1  1.5  1.0  0.3  0.8  1.9
              1999 4251    5.1  0.422  ...  2.9  4.6  0.5  0.6  0.2  0.4  1.4
              2000 4765    4.7  0.447  ...  4.0  5.9  1.0  0.6  0.2  0.6  1.5
              2001 5308    4.0  0.444  ...  2.5  3.8  0.5  0.4  0.1  0.5  1.5
A.J. Bramlett 2000 4937    2.6  0.190  ...  1.3  2.8  0.0  0.1  0.0  0.4  1.6
A.J. English  1991 182     8.2  0.439  ...  1.2  2.1  2.5  0.4  0.2  1.6  1.8
              1992 577    10.4  0.433  ...  1.2  2.1  1.8  0.4  0.1  1.1  2.0
A.J. Green    2023 18726   3.6  0.424  ...  1.1  1.3  0.6  0.2  0.0  0.3  0.9
              2024 19382   3.5  0.423  ...  1.0  1.1  0.5  0.2  0.1  0.2  0.9
              2025 19984   5.8  0.429  ...  2.1  2.4  1.5  0.5  0.1  0.5  2.2
A.J. Guyton   2001 5226    5.8  0.406  ...  0.8  1.1  1.9  0.3  0.2  0.7  1.1
              2002 5783    5.4  0.361  ...  0.7  1.0  1.8  0.2  0.2  0.8  0.5
              2003 6476    2.0  0.000  ...  0.0  0.0  1.0  0.5  0.0  0.5  0.0

                           PTS  Awards  Year
Player        Year
A.C. Green    1991 178     9.1     NaN  1991
              1992 535    13.6     NaN  1992
              1993 1006   12.8     NaN  1993
              1994 1424   14.7     NaN  1994
              1995 1964   11.2     NaN  1995
              1996 2527    7.5     NaN  1996
              1997 3057    7.2     NaN  1997
              1998 3651    7.3     NaN  1998
              1999 4251    4.9     NaN  1999
              2000 4765    5.0     NaN  2000
              2001 5308    4.5     NaN  2001
A.J. Bramlett 2000 4937    1.0     NaN  2000
A.J. English  1991 182     8.8     NaN  1991
              1992 577    10.9     NaN  1992
A.J. Green    2023 18726   4.4     NaN  2023
              2024 19382   4.5     NaN  2024
              2025 19984   7.4     NaN  2025
A.J. Guyton   2001 5226    6.0     NaN  2001
              2002 5783    5.4     NaN  2002
              2003 6476    0.0     NaN  2003

[20 rows x 31 columns]

In [15]:
players.index = players.index.droplevel()

In [16]:
players.index = players.index.droplevel()

In [17]:
players[players["Player"] == "Greg Anderson"]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
561,Greg Anderson,27.0,DEN,PF,82.0,82.0,34.1,4.7,10.4,0.456,...,7.4,11.5,1.0,1.1,0.8,2.5,3.2,11.5,NaN,1992
1596,Greg Anderson,29.0,DET,PF,77.0,47.0,21.1,2.6,4.8,0.543,...,5.0,7.4,0.7,0.7,0.9,1.2,3.0,6.4,NaN,1994
2204,Greg Anderson,30.0,ATL,PF,51.0,0.0,12.2,1.1,2.0,0.548,...,2.5,3.7,0.3,0.5,0.6,0.6,2.0,2.9,NaN,1995
2807,Greg Anderson,31.0,SAS,PF,46.0,7.0,7.5,0.5,1.0,0.511,...,1.5,2.2,0.2,0.2,0.5,0.5,1.4,1.2,NaN,1996
3202,Greg Anderson,32.0,SAS,C,82.0,48.0,20.2,1.6,3.2,0.496,...,3.5,5.5,0.4,0.8,0.8,0.9,2.7,3.9,NaN,1997
3904,Greg Anderson,33.0,ATL,C,50.0,0.0,8.0,0.7,1.6,0.444,...,1.6,2.4,0.3,0.4,0.2,0.3,1.7,1.8,NaN,1998

In [40]:
combined = players.merge(mvps, how="outer", on=["Player", "Year"])

In [19]:
combined.head(5)

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Awards,Year,Pts Won,Pts Max,Share
0,A.C. Green,27.0,LAL,PF,82.0,21.0,26.4,3.1,6.6,0.476,...,0.7,0.3,1.2,1.4,9.1,NaN,1991,NaN,NaN,NaN
1,A.C. Green,28.0,LAL,PF,82.0,53.0,35.4,4.7,9.8,0.476,...,1.1,0.4,1.4,1.7,13.6,NaN,1992,NaN,NaN,NaN
2,A.C. Green,29.0,LAL,PF,82.0,55.0,34.4,4.6,8.6,0.537,...,1.1,0.5,1.4,1.8,12.8,NaN,1993,NaN,NaN,NaN
3,A.C. Green,30.0,PHO,PF,82.0,55.0,34.5,5.7,11.3,0.502,...,0.9,0.5,1.2,1.7,14.7,NaN,1994,NaN,NaN,NaN
4,A.C. Green,31.0,PHO,SF,82.0,52.0,32.8,3.8,7.5,0.504,...,0.7,0.4,1.4,1.8,11.2,NaN,1995,NaN,NaN,NaN

In [41]:
combined[["Pts Won", "Pts Max", "Share"]] = combined[["Pts Won", "Pts Max", "Share"]].fillna(0)

In [42]:
combined[combined["Pts Won"] > 0]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Awards,Year,Pts Won,Pts Max,Share
227,Al Jefferson,29.0,CHA,C,73.0,73.0,35.0,9.6,18.8,0.509,...,0.9,1.1,1.7,2.4,21.8,"MVP-8,NBA3",2014,34.0,1250.0,0.027
388,Allen Iverson,21.0,PHI,PG,76.0,74.0,40.1,8.2,19.8,0.416,...,2.1,0.3,4.4,3.1,23.5,"MVP-17,ROY-1",1997,1.0,1150.0,0.001
390,Allen Iverson,23.0,PHI,SG,48.0,48.0,41.5,9.1,22.0,0.412,...,2.3,0.1,3.5,2.0,26.8,"MVP-4,NBA1",1999,319.0,1180.0,0.270
391,Allen Iverson,24.0,PHI,SG,70.0,70.0,40.8,10.4,24.8,0.421,...,2.1,0.1,3.3,2.3,28.4,"MVP-7,AS,NBA2",2000,132.0,1210.0,0.109
392,Allen Iverson,25.0,PHI,SG,71.0,71.0,42.0,10.7,25.5,0.420,...,2.5,0.3,3.3,2.1,31.1,"MVP-1,DPOY-11,AS,NBA1",2001,1121.0,1240.0,0.904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15725,Vince Carter,23.0,TOR,SF,82.0,82.0,38.1,9.6,20.7,0.465,...,1.3,1.1,2.2,3.2,25.7,"MVP-10,AS,NBA3",2000,51.0,1210.0,0.042
15726,Vince Carter,24.0,TOR,SF,75.0,75.0,39.7,10.2,22.1,0.460,...,1.5,1.1,2.2,2.7,27.6,"MVP-11,AS,NBA2",2001,7.0,1240.0,0.006
15730,Vince Carter,28.0,NJN,SF,77.0,76.0,36.7,9.0,20.0,0.452,...,1.4,0.6,2.2,3.2,24.5,"MVP-13,AS",2005,3.0,1270.0,0.002
16130,Yao Ming,23.0,HOU,C,82.0,82.0,32.8,6.5,12.5,0.522,...,0.3,1.9,2.5,3.3,17.5,"MVP-14,AS,NBA3",2004,1.0,1230.0,0.001
16135,Yao Ming,28.0,HOU,C,77.0,77.0,33.6,7.4,13.4,0.548,...,0.4,1.9,3.0,3.3,19.7,"MVP-12,AS,NBA2",2009,1.0,1210.0,0.001

In [22]:
combined

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Awards,Year,Pts Won,Pts Max,Share
0,A.C. Green,27.0,LAL,PF,82.0,21.0,26.4,3.1,6.6,0.476,...,0.7,0.3,1.2,1.4,9.1,NaN,1991,0.0,0.0,0.0
1,A.C. Green,28.0,LAL,PF,82.0,53.0,35.4,4.7,9.8,0.476,...,1.1,0.4,1.4,1.7,13.6,NaN,1992,0.0,0.0,0.0
2,A.C. Green,29.0,LAL,PF,82.0,55.0,34.4,4.6,8.6,0.537,...,1.1,0.5,1.4,1.8,12.8,NaN,1993,0.0,0.0,0.0
3,A.C. Green,30.0,PHO,PF,82.0,55.0,34.5,5.7,11.3,0.502,...,0.9,0.5,1.2,1.7,14.7,NaN,1994,0.0,0.0,0.0
4,A.C. Green,31.0,PHO,SF,82.0,52.0,32.8,3.8,7.5,0.504,...,0.7,0.4,1.4,1.8,11.2,NaN,1995,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16297,Željko Rebrača,29.0,DET,C,74.0,4.0,15.9,2.6,5.1,0.505,...,0.4,1.0,1.1,2.6,6.9,NaN,2002,0.0,0.0,0.0
16298,Željko Rebrača,30.0,DET,C,30.0,12.0,16.3,2.7,4.8,0.552,...,0.2,0.6,1.0,2.6,6.6,NaN,2003,0.0,0.0,0.0
16299,Željko Rebrača,31.0,ATL,C,24.0,2.0,11.4,1.4,3.2,0.442,...,0.2,0.5,0.7,2.2,3.8,NaN,2004,0.0,0.0,0.0
16300,Željko Rebrača,32.0,LAC,C,58.0,2.0,16.0,2.3,4.0,0.568,...,0.2,0.7,0.8,2.2,5.8,NaN,2005,0.0,0.0,0.0
16301,Željko Rebrača,33.0,LAC,C,29.0,2.0,14.2,1.8,3.3,0.542,...,0.2,0.7,0.8,2.0,4.7,NaN,2006,0.0,0.0,0.0

In [43]:
teams=pd.read_csv("teams.csv")

In [44]:
teams

,Unnamed: 0,Team,W,L,W/L%,GB,PS/G,PA/G,SRS,Year
0,0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,1991
1,1,Boston Celtics*,56,26,.683,—,111.5,105.7,5.22,1991
2,2,Philadelphia 76ers*,44,38,.537,12.0,105.4,105.6,-0.39,1991
3,3,New York Knicks*,39,43,.476,17.0,103.1,103.3,-0.43,1991
4,4,Washington Bullets,30,52,.366,26.0,101.4,106.4,-4.84,1991
...,...,...,...,...,...,...,...,...,...,...
1203,13,Houston Rockets*,52,30,.634,—,114.3,109.8,4.97,2025
1204,14,Memphis Grizzlies*,48,34,.585,4.0,121.7,116.9,4.79,2025
1205,15,Dallas Mavericks,39,43,.476,13.0,114.2,115.4,-0.74,2025
1206,16,San Antonio Spurs,34,48,.415,18.0,113.9,116.7,-2.45,2025
1207,17,New Orleans Pelicans,21,61,.256,31.0,109.8,119.3,-8.59,2025

In [25]:
teams.head(50)

,Unnamed: 0,Team,W,L,W/L%,GB,PS/G,PA/G,SRS,Year
0,0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,1991
1,1,Boston Celtics*,56,26,.683,—,111.5,105.7,5.22,1991
2,2,Philadelphia 76ers*,44,38,.537,12.0,105.4,105.6,-0.39,1991
3,3,New York Knicks*,39,43,.476,17.0,103.1,103.3,-0.43,1991
4,4,Washington Bullets,30,52,.366,26.0,101.4,106.4,-4.84,1991
5,5,New Jersey Nets,26,56,.317,30.0,102.9,107.5,-4.53,1991
6,6,Miami Heat,24,58,.293,32.0,101.8,107.8,-5.91,1991
7,7,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,1991
8,8,Chicago Bulls*,61,21,.744,—,110.0,101.0,8.57,1991
9,9,Detroit Pistons*,50,32,.610,11.0,100.1,96.8,3.08,1991
10,10,Milwaukee Bucks*,48,34,.585,13.0,106.4,104.0,2.33,1991
11,11,Atlanta Hawks*,43,39,.524,18.0,109.8,109.0,0.72,1991
12,12,Indiana Pacers*,41,41,.500,20.0,111.7,112.1,-0.37,1991
13,13,Cleveland Cavaliers,33,49,.402,28.0,101.7,104.2,-2.33,1991
14,14,Charlotte Hornets,26,56,.317,35.0,102.8,108.0,-4.95,1991
15,0,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,1991
16,1,San Antonio Spurs*,55,27,.671,—,107.1,102.6,4.30,1991
17,2,Utah Jazz*,54,28,.659,1.0,104.0,100.7,3.18,1991
18,3,Houston Rockets*,52,30,.634,3.0,106.7,103.2,3.27,1991
19,4,Orlando Magic,31,51,.378,24.0,105.9,109.9,-3.79,1991
20,5,Minnesota Timberwolves,29,53,.354,26.0,99.6,103.5,-3.75,1991
21,6,Dallas Mavericks,28,54,.341,27.0,99.9,104.5,-4.27,1991
22,7,Denver Nuggets,20,62,.244,35.0,119.9,130.8,-10.31,1991
23,8,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,1991
24,9,Portland Trail Blazers*,63,19,.768,—,114.7,106.0,8.47,1991
25,10,Los Angeles Lakers*,58,24,.707,5.0,106.3,99.6,6.73,1991
26,11,Phoenix Suns*,55,27,.671,8.0,114.0,107.5,6.49,1991
27,12,Golden State Warriors*,44,38,.537,19.0,116.6,115.0,1.72,1991
28,13,Seattle SuperSonics*,41,41,.500,22.0,106.6,105.4,1.31,1991
29,14,Los Angeles Clippers,31,51,.378,32.0,103.5,107.0,-3.16,1991
30,15,Sacramento Kings,25,57,.305,38.0,96.7,103.5,-6.27,1991
31,0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,1992
32,1,Boston Celtics*,51,31,.622,—,106.6,103.0,3.41,1992
33,2,New York Knicks*,51,31,.622,—,101.6,97.7,3.67,1992
34,3,New Jersey Nets*,40,42,.488,11.0,105.4,107.1,-1.54,1992
35,4,Miami Heat*,38,44,.463,13.0,105.0,109.2,-3.94,1992
36,5,Philadelphia 76ers,35,47,.427,16.0,101.9,103.2,-1.34,1992
37,6,Washington Bullets,25,57,.305,26.0,102.4,106.8,-4.35,1992
38,7,Orlando Magic,21,61,.256,30.0,101.6,108.5,-6.52,1992
39,8,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,1992
40,9,Chicago Bulls*,67,15,.817,—,109.9,99.5,10.07,1992
41,10,Cleveland Cavaliers*,57,25,.695,10.0,108.9,103.4,5.34,1992
42,11,Detroit Pistons*,48,34,.585,19.0,98.9,96.9,2.06,1992
43,12,Indiana Pacers*,40,42,.488,27.0,112.2,110.3,1.85,1992
44,13,Atlanta Hawks,38,44,.463,29.0,106.2,107.7,-1.15,1992
45,14,Milwaukee Bucks,31,51,.378,36.0,105.0,106.7,-1.46,1992
46,15,Charlotte Hornets,31,51,.378,36.0,109.5,113.4,-3.57,1992
47,0,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,1992
48,1,Utah Jazz*,55,27,.671,—,108.3,101.9,5.70,1992
49,2,San Antonio Spurs*,47,35,.573,8.0,104.0,100.6,2.81,1992

In [45]:

teams = teams[~teams["W"].str.contains("Division")].copy()

In [46]:
teams.head(30)

,Unnamed: 0,Team,W,L,W/L%,GB,PS/G,PA/G,SRS,Year
1,1,Boston Celtics*,56,26,.683,—,111.5,105.7,5.22,1991
2,2,Philadelphia 76ers*,44,38,.537,12.0,105.4,105.6,-0.39,1991
3,3,New York Knicks*,39,43,.476,17.0,103.1,103.3,-0.43,1991
4,4,Washington Bullets,30,52,.366,26.0,101.4,106.4,-4.84,1991
5,5,New Jersey Nets,26,56,.317,30.0,102.9,107.5,-4.53,1991
6,6,Miami Heat,24,58,.293,32.0,101.8,107.8,-5.91,1991
8,8,Chicago Bulls*,61,21,.744,—,110.0,101.0,8.57,1991
9,9,Detroit Pistons*,50,32,.610,11.0,100.1,96.8,3.08,1991
10,10,Milwaukee Bucks*,48,34,.585,13.0,106.4,104.0,2.33,1991
11,11,Atlanta Hawks*,43,39,.524,18.0,109.8,109.0,0.72,1991
12,12,Indiana Pacers*,41,41,.500,20.0,111.7,112.1,-0.37,1991
13,13,Cleveland Cavaliers,33,49,.402,28.0,101.7,104.2,-2.33,1991
14,14,Charlotte Hornets,26,56,.317,35.0,102.8,108.0,-4.95,1991
16,1,San Antonio Spurs*,55,27,.671,—,107.1,102.6,4.30,1991
17,2,Utah Jazz*,54,28,.659,1.0,104.0,100.7,3.18,1991
18,3,Houston Rockets*,52,30,.634,3.0,106.7,103.2,3.27,1991
19,4,Orlando Magic,31,51,.378,24.0,105.9,109.9,-3.79,1991
20,5,Minnesota Timberwolves,29,53,.354,26.0,99.6,103.5,-3.75,1991
21,6,Dallas Mavericks,28,54,.341,27.0,99.9,104.5,-4.27,1991
22,7,Denver Nuggets,20,62,.244,35.0,119.9,130.8,-10.31,1991
24,9,Portland Trail Blazers*,63,19,.768,—,114.7,106.0,8.47,1991
25,10,Los Angeles Lakers*,58,24,.707,5.0,106.3,99.6,6.73,1991
26,11,Phoenix Suns*,55,27,.671,8.0,114.0,107.5,6.49,1991
27,12,Golden State Warriors*,44,38,.537,19.0,116.6,115.0,1.72,1991
28,13,Seattle SuperSonics*,41,41,.500,22.0,106.6,105.4,1.31,1991
29,14,Los Angeles Clippers,31,51,.378,32.0,103.5,107.0,-3.16,1991
30,15,Sacramento Kings,25,57,.305,38.0,96.7,103.5,-6.27,1991
32,1,Boston Celtics*,51,31,.622,—,106.6,103.0,3.41,1992
33,2,New York Knicks*,51,31,.622,—,101.6,97.7,3.67,1992
34,3,New Jersey Nets*,40,42,.488,11.0,105.4,107.1,-1.54,1992

In [28]:
teams["Team"] = teams["Team"].str.replace("*", "", regex=False)

In [29]:
teams.head(20)

,Unnamed: 0,Team,W,L,W/L%,GB,PS/G,PA/G,SRS,Year
1,1,Boston Celtics,56,26,.683,—,111.5,105.7,5.22,1991
2,2,Philadelphia 76ers,44,38,.537,12.0,105.4,105.6,-0.39,1991
3,3,New York Knicks,39,43,.476,17.0,103.1,103.3,-0.43,1991
4,4,Washington Bullets,30,52,.366,26.0,101.4,106.4,-4.84,1991
5,5,New Jersey Nets,26,56,.317,30.0,102.9,107.5,-4.53,1991
6,6,Miami Heat,24,58,.293,32.0,101.8,107.8,-5.91,1991
8,8,Chicago Bulls,61,21,.744,—,110.0,101.0,8.57,1991
9,9,Detroit Pistons,50,32,.610,11.0,100.1,96.8,3.08,1991
10,10,Milwaukee Bucks,48,34,.585,13.0,106.4,104.0,2.33,1991
11,11,Atlanta Hawks,43,39,.524,18.0,109.8,109.0,0.72,1991
12,12,Indiana Pacers,41,41,.500,20.0,111.7,112.1,-0.37,1991
13,13,Cleveland Cavaliers,33,49,.402,28.0,101.7,104.2,-2.33,1991
14,14,Charlotte Hornets,26,56,.317,35.0,102.8,108.0,-4.95,1991
16,1,San Antonio Spurs,55,27,.671,—,107.1,102.6,4.30,1991
17,2,Utah Jazz,54,28,.659,1.0,104.0,100.7,3.18,1991
18,3,Houston Rockets,52,30,.634,3.0,106.7,103.2,3.27,1991
19,4,Orlando Magic,31,51,.378,24.0,105.9,109.9,-3.79,1991
20,5,Minnesota Timberwolves,29,53,.354,26.0,99.6,103.5,-3.75,1991
21,6,Dallas Mavericks,28,54,.341,27.0,99.9,104.5,-4.27,1991
22,7,Denver Nuggets,20,62,.244,35.0,119.9,130.8,-10.31,1991

In [47]:
teams["Team"].unique()

array(['Boston Celtics*', 'Philadelphia 76ers*', 'New York Knicks*',
       'Washington Bullets', 'New Jersey Nets', 'Miami Heat',
       'Chicago Bulls*', 'Detroit Pistons*', 'Milwaukee Bucks*',
       'Atlanta Hawks*', 'Indiana Pacers*', 'Cleveland Cavaliers',
       'Charlotte Hornets', 'San Antonio Spurs*', 'Utah Jazz*',
       'Houston Rockets*', 'Orlando Magic', 'Minnesota Timberwolves',
       'Dallas Mavericks', 'Denver Nuggets', 'Portland Trail Blazers*',
       'Los Angeles Lakers*', 'Phoenix Suns*', 'Golden State Warriors*',
       'Seattle SuperSonics*', 'Los Angeles Clippers', 'Sacramento Kings',
       'New Jersey Nets*', 'Miami Heat*', 'Philadelphia 76ers',
       'Cleveland Cavaliers*', 'Atlanta Hawks', 'Milwaukee Bucks',
       'Houston Rockets', 'Los Angeles Clippers*', 'Charlotte Hornets*',
       'Detroit Pistons', 'Golden State Warriors', 'Orlando Magic*',
       'Boston Celtics', 'Denver Nuggets*', 'Los Angeles Lakers',
       'Toronto Raptors', 'Vancouver Grizzlies', 'Sacramento Kings*',
       'Washington Bullets*', 'Indiana Pacers', 'Minnesota Timberwolves*',
       'San Antonio Spurs', 'Washington Wizards', 'Chicago Bulls',
       'Seattle SuperSonics', 'Toronto Raptors*', 'Dallas Mavericks*',
       'New York Knicks', 'Memphis Grizzlies', 'Phoenix Suns',
       'New Orleans Hornets*', 'Memphis Grizzlies*', 'Utah Jazz',
       'Portland Trail Blazers', 'Washington Wizards*',
       'Charlotte Bobcats', 'New Orleans Hornets',
       'New Orleans/Oklahoma City Hornets', 'Oklahoma City Thunder',
       'Charlotte Bobcats*', 'Oklahoma City Thunder*', 'Brooklyn Nets*',
       'New Orleans Pelicans', 'New Orleans Pelicans*', 'Brooklyn Nets'],
      dtype=object)

In [48]:
combined["Team"].unique()

array(['LAL', 'PHO', 'DAL', 'MIA', 'CLE', 'WSB', 'MIL', 'CHI', 'GSW',
       'TOR', 'IND', 'WAS', 'MIN', 'BOS', 'ATL', 'HOU', 'DEN', 'ORL',
       'NOH', 'SAC', 'CHO', 'PHI', 'POR', 'DET', 'OKC', 'UTA', 'VAN',
       'SEA', 'NJN', 'NOK', 'LAC', 'CHA', 'MEM', 'NYK', 'NOP', 'BRK',
       'SAS', 'CHH', nan], dtype=object)

In [49]:
nicknames = {}

with open("nicknames.csv") as f:
    lines = f.readlines()
    for line in lines[1:]:
        abbrev,name = line.replace("\n", "").split(",")
        nicknames[abbrev] = name

In [57]:
nicknames

{'ATL': 'Atlanta Hawks',
 'BRK': 'Brooklyn Nets',
 'BKN': 'Brooklyn Nets',
 'BOS': 'Boston Celtics',
 'CHA': 'Charlotte Bobcats',
 'CHH': 'Charlotte Hornets',
 'CHO': 'Charlotte Hornets',
 'CHI': 'Chicago Bulls',
 'CLE': 'Cleveland Cavaliers',
 'DAL': 'Dallas Mavericks',
 'DEN': 'Denver Nuggets',
 'DET': 'Detroit Pistons',
 'GSW': 'Golden State Warriors',
 'HOU': 'Houston Rockets',
 'IND': 'Indiana Pacers',
 'LAC': 'Los Angeles Clippers',
 'LAL': 'Los Angeles Lakers',
 'MEM': 'Memphis Grizzlies',
 'MIA': 'Miami Heat',
 'MIL': 'Milwaukee Bucks',
 'MIN': 'Minnesota Timberwolves',
 'NJN': 'New Jersey Nets',
 'NOH': 'New Orleans Hornets',
 'NOP': 'New Orleans Pelicans',
 'NOK': 'New Orleans/Oklahoma City Hornets',
 'NYK': 'New York Knicks',
 'OKC': 'Oklahoma City Thunder',
 'ORL': 'Orlando Magic',
 'PHI': 'Philadelphia 76ers',
 'PHX': 'Phoenix Suns',
 'PHO': 'Phoenix Suns',
 'POR': 'Portland Trail Blazers',
 'SEA': 'Seattle SuperSonics',
 'SAC': 'Sacramento Kings',
 'SAS': 'San Antonio Spurs',
 'TOR': 'Toronto Raptors',
 'UTA': 'Utah Jazz',
 'VAN': 'Vancouver Grizzlies',
 'WAS': 'Washington Wizards',
 'WSB': 'Washington Bullets'}

In [34]:
combined["Team"] = combined["Team"].map(nicknames)

In [35]:
combined.head(5)

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Awards,Year,Pts Won,Pts Max,Share
0,A.C. Green,27.0,Los Angeles Lakers,PF,82.0,21.0,26.4,3.1,6.6,0.476,...,0.7,0.3,1.2,1.4,9.1,NaN,1991,0.0,0.0,0.0
1,A.C. Green,28.0,Los Angeles Lakers,PF,82.0,53.0,35.4,4.7,9.8,0.476,...,1.1,0.4,1.4,1.7,13.6,NaN,1992,0.0,0.0,0.0
2,A.C. Green,29.0,Los Angeles Lakers,PF,82.0,55.0,34.4,4.6,8.6,0.537,...,1.1,0.5,1.4,1.8,12.8,NaN,1993,0.0,0.0,0.0
3,A.C. Green,30.0,Phoenix Suns,PF,82.0,55.0,34.5,5.7,11.3,0.502,...,0.9,0.5,1.2,1.7,14.7,NaN,1994,0.0,0.0,0.0
4,A.C. Green,31.0,Phoenix Suns,SF,82.0,52.0,32.8,3.8,7.5,0.504,...,0.7,0.4,1.4,1.8,11.2,NaN,1995,0.0,0.0,0.0

In [36]:
stats = combined.merge(teams, how="outer", on=["Team", "Year"])

In [37]:
stats

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Doc Rivers,29.0,Atlanta Hawks,PG,79.0,79.0,32.7,5.6,12.9,0.435,...,0.0,0.000,11.0,43,39,.524,18.0,109.8,109.0,0.72
1,Dominique Wilkins,31.0,Atlanta Hawks,SF,81.0,81.0,38.0,9.5,20.2,0.470,...,960.0,0.030,11.0,43,39,.524,18.0,109.8,109.0,0.72
2,Duane Ferrell,25.0,Atlanta Hawks,SF,78.0,2.0,14.9,2.2,4.6,0.489,...,0.0,0.000,11.0,43,39,.524,18.0,109.8,109.0,0.72
3,Gary Leonard,23.0,Atlanta Hawks,C,4.0,0.0,2.3,0.0,0.0,NaN,...,0.0,0.000,11.0,43,39,.524,18.0,109.8,109.0,0.72
4,John Battle,28.0,Atlanta Hawks,SG,79.0,2.0,23.6,5.0,10.9,0.461,...,0.0,0.000,11.0,43,39,.524,18.0,109.8,109.0,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16297,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.474,...,0.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16298,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,990.0,0.572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16299,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,990.0,0.935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16300,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.467,...,0.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16301,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1000.0,0.787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
combined

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Awards,Year,Pts Won,Pts Max,Share
0,A.C. Green,27.0,Los Angeles Lakers,PF,82.0,21.0,26.4,3.1,6.6,0.476,...,0.7,0.3,1.2,1.4,9.1,NaN,1991,0.0,0.0,0.0
1,A.C. Green,28.0,Los Angeles Lakers,PF,82.0,53.0,35.4,4.7,9.8,0.476,...,1.1,0.4,1.4,1.7,13.6,NaN,1992,0.0,0.0,0.0
2,A.C. Green,29.0,Los Angeles Lakers,PF,82.0,55.0,34.4,4.6,8.6,0.537,...,1.1,0.5,1.4,1.8,12.8,NaN,1993,0.0,0.0,0.0
3,A.C. Green,30.0,Phoenix Suns,PF,82.0,55.0,34.5,5.7,11.3,0.502,...,0.9,0.5,1.2,1.7,14.7,NaN,1994,0.0,0.0,0.0
4,A.C. Green,31.0,Phoenix Suns,SF,82.0,52.0,32.8,3.8,7.5,0.504,...,0.7,0.4,1.4,1.8,11.2,NaN,1995,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16297,Željko Rebrača,29.0,Detroit Pistons,C,74.0,4.0,15.9,2.6,5.1,0.505,...,0.4,1.0,1.1,2.6,6.9,NaN,2002,0.0,0.0,0.0
16298,Željko Rebrača,30.0,Detroit Pistons,C,30.0,12.0,16.3,2.7,4.8,0.552,...,0.2,0.6,1.0,2.6,6.6,NaN,2003,0.0,0.0,0.0
16299,Željko Rebrača,31.0,Atlanta Hawks,C,24.0,2.0,11.4,1.4,3.2,0.442,...,0.2,0.5,0.7,2.2,3.8,NaN,2004,0.0,0.0,0.0
16300,Željko Rebrača,32.0,Los Angeles Clippers,C,58.0,2.0,16.0,2.3,4.0,0.568,...,0.2,0.7,0.8,2.2,5.8,NaN,2005,0.0,0.0,0.0
16301,Željko Rebrača,33.0,Los Angeles Clippers,C,29.0,2.0,14.2,1.8,3.3,0.542,...,0.2,0.7,0.8,2.0,4.7,NaN,2006,0.0,0.0,0.0

In [39]:
del stats["Unnamed: 0"]

In [40]:
stats.dtypes

Player      object
Age        float64
Team        object
Pos         object
G          float64
GS         float64
MP         float64
FG         float64
FGA        float64
FG%        float64
3P         float64
3PA        float64
3P%        float64
2P         float64
2PA        float64
2P%        float64
eFG%       float64
FT         float64
FTA        float64
FT%        float64
ORB        float64
DRB        float64
TRB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
PTS        float64
Awards      object
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
W           object
L           object
W/L%        object
GB          object
PS/G        object
PA/G        object
SRS         object
dtype: object

In [41]:
for col in stats.columns:
    try:
        stats[col] = pd.to_numeric(stats[col])
    except ValueError:
        pass

In [51]:
stats.dtypes

Player      object
Age        float64
Team        object
Pos         object
G          float64
GS         float64
MP         float64
FG         float64
FGA        float64
FG%        float64
3P         float64
3PA        float64
3P%        float64
2P         float64
2PA        float64
2P%        float64
eFG%       float64
FT         float64
FTA        float64
FT%        float64
ORB        float64
DRB        float64
TRB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
PTS        float64
Awards      object
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
W           object
L           object
W/L%        object
GB          object
PS/G        object
PA/G        object
SRS         object
dtype: object

In [52]:
stats["GB"].unique()

array(['18.0', '29.0', '14.0', '—', '10.0', '26.0', '13.0', '12.0', '2.0',
       '28.0', '27.0', '17.0', '15.0', '33.0', '46.0', '6.0', '22.0',
       '16.0', '20.0', '21.0', '3.0', '11.0', '1.0', '25.0', '19.0',
       '5.0', '23.0', '12.5', '9.0', '8.0', '4.0', '35.0', '31.0', '7.0',
       '32.0', '41.0', '24.0', '39.0', '45.0', '36.0', '37.0', '38.0',
       '4.5', '30.0', '43.0', '25.5', '44.0', '40.0', '42.0', '2.5',
       '51.0', '34.0', '20.5', '32.5', '48.0', '52.0', '3.5', '56.0',
       '10.5', '47.0', '11.5', '22.5', '1.5', '50.0', '21.5', '18.5', nan],
      dtype=object)

In [53]:
 stats["GB"]=stats["GB"].str.replace("—","0")

In [54]:
stats["GB"].unique()

array(['18.0', '29.0', '14.0', '0', '10.0', '26.0', '13.0', '12.0', '2.0',
       '28.0', '27.0', '17.0', '15.0', '33.0', '46.0', '6.0', '22.0',
       '16.0', '20.0', '21.0', '3.0', '11.0', '1.0', '25.0', '19.0',
       '5.0', '23.0', '12.5', '9.0', '8.0', '4.0', '35.0', '31.0', '7.0',
       '32.0', '41.0', '24.0', '39.0', '45.0', '36.0', '37.0', '38.0',
       '4.5', '30.0', '43.0', '25.5', '44.0', '40.0', '42.0', '2.5',
       '51.0', '34.0', '20.5', '32.5', '48.0', '52.0', '3.5', '56.0',
       '10.5', '47.0', '11.5', '22.5', '1.5', '50.0', '21.5', '18.5', nan],
      dtype=object)

In [58]:
stats["GB"] = pd.to_numeric(stats["GB"])

In [47]:
stats.dtypes

Player      object
Age        float64
Team        object
Pos         object
G          float64
GS         float64
MP         float64
FG         float64
FGA        float64
FG%        float64
3P         float64
3PA        float64
3P%        float64
2P         float64
2PA        float64
2P%        float64
eFG%       float64
FT         float64
FTA        float64
FT%        float64
ORB        float64
DRB        float64
TRB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
PTS        float64
Awards      object
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
W          float64
L          float64
W/L%       float64
GB         float64
PS/G       float64
PA/G       float64
SRS        float64
dtype: object

In [48]:
stats.to_csv("player_mvp_stats.csv")

In [49]:
stats=pd.read_csv("player_mvp_stats.csv")

In [50]:
stats

,Unnamed: 0,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,Pts Won,Pts Max,Share,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,Doc Rivers,29.0,Atlanta Hawks,PG,79.0,79.0,32.7,5.6,12.9,...,0.0,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72
1,1,Dominique Wilkins,31.0,Atlanta Hawks,SF,81.0,81.0,38.0,9.5,20.2,...,29.0,960.0,0.030,43.0,39.0,0.524,18.0,109.8,109.0,0.72
2,2,Duane Ferrell,25.0,Atlanta Hawks,SF,78.0,2.0,14.9,2.2,4.6,...,0.0,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72
3,3,Gary Leonard,23.0,Atlanta Hawks,C,4.0,0.0,2.3,0.0,0.0,...,0.0,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72
4,4,John Battle,28.0,Atlanta Hawks,SG,79.0,2.0,23.6,5.0,10.9,...,0.0,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16297,16297,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16298,16298,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,566.0,990.0,0.572,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16299,16299,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,926.0,990.0,0.935,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16300,16300,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16301,16301,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,787.0,1000.0,0.787,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
del stats["Unnamed: 0"]

In [52]:
stats

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Won,Pts Max,Share,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Doc Rivers,29.0,Atlanta Hawks,PG,79.0,79.0,32.7,5.6,12.9,0.435,...,0.0,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72
1,Dominique Wilkins,31.0,Atlanta Hawks,SF,81.0,81.0,38.0,9.5,20.2,0.470,...,29.0,960.0,0.030,43.0,39.0,0.524,18.0,109.8,109.0,0.72
2,Duane Ferrell,25.0,Atlanta Hawks,SF,78.0,2.0,14.9,2.2,4.6,0.489,...,0.0,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72
3,Gary Leonard,23.0,Atlanta Hawks,C,4.0,0.0,2.3,0.0,0.0,NaN,...,0.0,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72
4,John Battle,28.0,Atlanta Hawks,SG,79.0,2.0,23.6,5.0,10.9,0.461,...,0.0,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16297,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.474,...,0.0,0.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16298,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,566.0,990.0,0.572,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16299,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,926.0,990.0,0.935,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16300,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.467,...,0.0,0.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16301,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,787.0,1000.0,0.787,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
stats.to_csv("player_mvp_stats.csv")

In [54]:
stats

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Won,Pts Max,Share,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Doc Rivers,29.0,Atlanta Hawks,PG,79.0,79.0,32.7,5.6,12.9,0.435,...,0.0,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72
1,Dominique Wilkins,31.0,Atlanta Hawks,SF,81.0,81.0,38.0,9.5,20.2,0.470,...,29.0,960.0,0.030,43.0,39.0,0.524,18.0,109.8,109.0,0.72
2,Duane Ferrell,25.0,Atlanta Hawks,SF,78.0,2.0,14.9,2.2,4.6,0.489,...,0.0,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72
3,Gary Leonard,23.0,Atlanta Hawks,C,4.0,0.0,2.3,0.0,0.0,NaN,...,0.0,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72
4,John Battle,28.0,Atlanta Hawks,SG,79.0,2.0,23.6,5.0,10.9,0.461,...,0.0,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16297,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.474,...,0.0,0.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16298,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,566.0,990.0,0.572,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16299,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,926.0,990.0,0.935,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16300,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.467,...,0.0,0.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16301,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,787.0,1000.0,0.787,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
stats.corr(numeric_only=True)["Share"]

Age        0.021181
G          0.086886
GS         0.162297
MP         0.155551
FG         0.264265
FGA        0.238644
FG%        0.060125
3P         0.080046
3PA        0.080589
3P%        0.010052
2P         0.270343
2PA        0.248867
2P%        0.051067
eFG%       0.049884
FT         0.314039
FTA        0.320526
FT%        0.033846
ORB        0.095996
DRB        0.205714
TRB        0.179883
AST        0.187542
STL        0.167636
BLK        0.152952
TOV        0.222798
PF         0.073311
PTS        0.275739
Year      -0.010201
Pts Won    0.994587
Pts Max    0.524212
Share      1.000000
W          0.118696
L         -0.118280
W/L%       0.122213
GB        -0.094760
PS/G       0.026196
PA/G      -0.044993
SRS        0.116846
Name: Share, dtype: float64

In [56]:
import pandas as pd

# Replace 'your_file.csv' with the name of your input CSV file.
input_filename = 'player_mvp_stats.csv'

# Replace 'output_file.csv' with the name you want for the new, shorter file.
output_filename = 'player_mvp_stats.csv'

# Read the CSV into a pandas DataFrame.
# header=None tells pandas that your file doesn't have a header row.
df = pd.read_csv(input_filename, header=None)

# Keep only the first 16,248 rows (indices 0 through 16247)
df_shortened = df.iloc[:16250]

# Save the shortened DataFrame to a new CSV file.
# index=False prevents pandas from writing the row numbers as a new column.
# header=False ensures no header is written to the new file.
df_shortened.to_csv(output_filename, index=False, header=False)

print(f"Successfully created '{output_filename}' with the first {len(df_shortened)} rows.")

Successfully created 'player_mvp_stats.csv' with the first 16250 rows.

In [57]:
import pandas as pd

df = pd.read_csv("player_mvp_stats.csv")
df.isna().any().any()

np.True_

In [58]:
df.isna().sum()

Unnamed: 0        0
Player            0
Age               0
Team              0
Pos               0
G                 0
GS                0
MP                0
FG                0
FGA               0
FG%              68
3P                0
3PA               0
3P%            2145
2P                0
2PA               0
2P%             118
eFG%             68
FT                0
FTA               0
FT%             599
ORB               0
DRB               0
TRB               0
AST               0
STL               0
BLK               0
TOV               0
PF                0
PTS               0
Awards        14321
Year              0
Pts Won           0
Pts Max           0
Share             0
W                 0
L                 0
W/L%              0
GB                0
PS/G              0
PA/G              0
SRS               0
dtype: int64

In [59]:
df = df.drop(columns=['Awards'])

# Fill shooting % NaNs
df[['FG%', '2P%', 'eFG%']] = df[['FG%', '2P%', 'eFG%']].fillna(0)

# Fill 3P% NaNs
df['3P%'] = df['3P%'].fillna(0)

# Fill FT% NaNs using year-wise median (best option)
df['FT%'] = df.groupby('Year')['FT%'].transform(lambda x: x.fillna(x.median()))

In [60]:
df.isna().sum()

Unnamed: 0    0
Player        0
Age           0
Team          0
Pos           0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%           0
3P            0
3PA           0
3P%           0
2P            0
2PA           0
2P%           0
eFG%          0
FT            0
FTA           0
FT%           0
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [62]:
import pandas as pd

play= pd.read_csv("player_mvp_stats.csv")
play.isna().any().any()

np.False_

In [63]:
play.isna().sum()

Unnamed: 0.1    0
Unnamed: 0      0
Player          0
Age             0
Team            0
Pos             0
G               0
GS              0
MP              0
FG              0
FGA             0
FG%             0
3P              0
3PA             0
3P%             0
2P              0
2PA             0
2P%             0
eFG%            0
FT              0
FTA             0
FT%             0
ORB             0
DRB             0
TRB             0
AST             0
STL             0
BLK             0
TOV             0
PF              0
PTS             0
Year            0
Pts Won         0
Pts Max         0
Share           0
W               0
L               0
W/L%            0
GB              0
PS/G            0
PA/G            0
SRS             0
dtype: int64

In [64]:
df['is_mvp'] = (df['Share'] == df.groupby('Year')['Share'].transform('max')).astype(int)

In [65]:
df.head(50)

,Unnamed: 0,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,Pts Max,Share,W,L,W/L%,GB,PS/G,PA/G,SRS,is_mvp
0,0.0,Doc Rivers,29.0,Atlanta Hawks,PG,79.0,79.0,32.7,5.6,12.9,...,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72,0
1,1.0,Dominique Wilkins,31.0,Atlanta Hawks,SF,81.0,81.0,38.0,9.5,20.2,...,960.0,0.030,43.0,39.0,0.524,18.0,109.8,109.0,0.72,0
2,2.0,Duane Ferrell,25.0,Atlanta Hawks,SF,78.0,2.0,14.9,2.2,4.6,...,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72,0
3,3.0,Gary Leonard,23.0,Atlanta Hawks,C,4.0,0.0,2.3,0.0,0.0,...,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72,0
4,4.0,John Battle,28.0,Atlanta Hawks,SG,79.0,2.0,23.6,5.0,10.9,...,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72,0
5,5.0,Jon Koncak,27.0,Atlanta Hawks,C,77.0,61.0,25.1,1.8,4.2,...,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72,0
6,6.0,Kevin Willis,28.0,Atlanta Hawks,PF,80.0,80.0,29.7,5.6,11.0,...,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72,0
7,7.0,Moses Malone,35.0,Atlanta Hawks,C,82.0,15.0,23.3,3.4,7.3,...,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72,0
8,8.0,Rumeal Robinson,24.0,Atlanta Hawks,PG,47.0,16.0,14.3,2.3,5.1,...,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72,0
9,9.0,Sidney Moncrief,33.0,Atlanta Hawks,SG,72.0,3.0,15.2,1.6,3.3,...,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72,0
10,10.0,Spud Webb,27.0,Atlanta Hawks,PG,75.0,64.0,29.3,4.8,10.7,...,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72,0
11,11.0,Tim McCormick,28.0,Atlanta Hawks,C,56.0,7.0,12.3,1.7,3.3,...,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72,0
12,12.0,Trevor Wilson,22.0,Atlanta Hawks,PF,25.0,0.0,6.5,0.8,2.8,...,0.0,0.000,43.0,39.0,0.524,18.0,109.8,109.0,0.72,0
13,13.0,Alexander Volkov,27.0,Atlanta Hawks,C,77.0,27.0,19.7,3.3,7.4,...,0.0,0.000,38.0,44.0,0.463,29.0,106.2,107.7,-1.15,0
14,14.0,Blair Rasmussen,29.0,Atlanta Hawks,C,81.0,61.0,24.3,4.3,9.0,...,0.0,0.000,38.0,44.0,0.463,29.0,106.2,107.7,-1.15,0
15,15.0,Dominique Wilkins,32.0,Atlanta Hawks,SF,42.0,42.0,38.1,10.1,21.8,...,0.0,0.000,38.0,44.0,0.463,29.0,106.2,107.7,-1.15,0
16,16.0,Duane Ferrell,26.0,Atlanta Hawks,SF,66.0,12.0,24.2,5.0,9.6,...,0.0,0.000,38.0,44.0,0.463,29.0,106.2,107.7,-1.15,0
17,17.0,Gary Leonard,24.0,Atlanta Hawks,C,5.0,0.0,2.6,0.8,1.2,...,0.0,0.000,38.0,44.0,0.463,29.0,106.2,107.7,-1.15,0
18,18.0,Jeff Sanders,26.0,Atlanta Hawks,SF,12.0,0.0,9.8,1.7,3.8,...,0.0,0.000,38.0,44.0,0.463,29.0,106.2,107.7,-1.15,0
19,19.0,Jon Koncak,28.0,Atlanta Hawks,C,77.0,14.0,19.3,1.4,3.7,...,0.0,0.000,38.0,44.0,0.463,29.0,106.2,107.7,-1.15,0
20,20.0,Kevin Willis,29.0,Atlanta Hawks,PF,81.0,80.0,36.6,7.3,15.1,...,0.0,0.000,38.0,44.0,0.463,29.0,106.2,107.7,-1.15,0
21,21.0,Maurice Cheeks,35.0,Atlanta Hawks,PG,56.0,0.0,19.4,2.1,4.4,...,0.0,0.000,38.0,44.0,0.463,29.0,106.2,107.7,-1.15,0
22,22.0,Paul Graham,24.0,Atlanta Hawks,SG,78.0,9.0,22.0,3.9,8.7,...,0.0,0.000,38.0,44.0,0.463,29.0,106.2,107.7,-1.15,0
23,23.0,Rodney Monroe,23.0,Atlanta Hawks,SG,38.0,0.0,8.2,1.4,3.8,...,0.0,0.000,38.0,44.0,0.463,29.0,106.2,107.7,-1.15,0
24,24.0,Rumeal Robinson,25.0,Atlanta Hawks,PG,81.0,64.0,27.4,5.2,11.5,...,0.0,0.000,38.0,44.0,0.463,29.0,106.2,107.7,-1.15,0
25,25.0,Stacey Augmon,23.0,Atlanta Hawks,SG,82.0,82.0,30.5,5.4,11.0,...,0.0,0.000,38.0,44.0,0.463,29.0,106.2,107.7,-1.15,0
26,26.0,Travis Mays,23.0,Atlanta Hawks,PG,2.0,0.0,16.0,3.0,7.0,...,0.0,0.000,38.0,44.0,0.463,29.0,106.2,107.7,-1.15,0
27,27.0,Adam Keefe,22.0,Atlanta Hawks,PF,82.0,6.0,18.9,2.3,4.6,...,0.0,0.000,43.0,39.0,0.524,14.0,107.5,108.4,-0.67,0
28,28.0,Blair Rasmussen,30.0,Atlanta Hawks,C,22.0,6.0,12.9,1.4,3.6,...,0.0,0.000,43.0,39.0,0.524,14.0,107.5,108.4,-0.67,0
29,29.0,Dominique Wilkins,33.0,Atlanta Hawks,SF,71.0,70.0,37.3,10.4,22.3,...,980.0,0.055,43.0,39.0,0.524,14.0,107.5,108.4,-0.67,0
30,30.0,Duane Ferrell,27.0,Atlanta Hawks,SF,82.0,15.0,21.2,4.0,8.5,...,0.0,0.000,43.0,39.0,0.524,14.0,107.5,108.4,-0.67,0
31,31.0,Greg Foster,24.0,Atlanta Hawks,PF,43.0,0.0,6.9,1.3,2.8,...,0.0,0.000,43.0,39.0,0.524,14.0,107.5,108.4,-0.67,0
32,32.0,Jeff Sanders,27.0,Atlanta Hawks,PF,9.0,0.0,13.3,1.1,2.8,...,0.0,0.000,43.0,39.0,0.524,14.0,107.5,108.4,-0.67,0
33,33.0,Jon Koncak,29.0,Atlanta Hawks,C,78.0,65.0,25.3,1.6,3.4,...,0.0,0.000,43.0,39.0,0.524,14.0,107.5,108.4,-0.67,0
34,34.0,Kevin Willis,30.0,Atlanta Hawks,PF,80.0,80.0,36.0,7.7,15.2,...,0.0,0.000,43.0,39.0,0.524,14.0,107.5,108.4,-0.67,0
35,35.0,Mookie Blaylock,25.0,Atlanta Hawks,PG,80.0,78.0,35.3,5.2,12.1,...,0.0,0.000,43.0,39.0,0.524,14.0,107.5,108.4,-0.67,0
36,36.0,Paul Graham,25.0,Atlanta Hawks,SG,80.0,11.0,18.9,3.2,7.0,...,0.0,0.000,43.0,39.0,0.524,14.0,107.5,108.4,-0.67,0
37,37.0,Randy Breuer,32.0,Atlanta Hawks,C,12.0,0.0,8.9,1.3,2.6,...,0.0,0.000,43.0,39.0,0.524,14.0,107.5,108.4,-0.67,0
38,38.0,Stacey Augmon,24.0,Atlanta Hawks,SG,73.0,66.0,28.9,5.4,10.8,...,0.0,0.000,43.0,39.0,0.524,14.0,107.5,108.4,-0.67,0
39,39.0,Steve Henson,24.0,Atlanta Hawks,PG,53.0,2.0,13.6,1.3,3.4,...,0.0,0.000,43.0,39.0,0.524,14.0,107.5,108.4,-0.67,0
40,40.0,Travis Mays,24.0,Atlanta Hawks,PG,49.0,9.0,16.1,2.6,6.3,...,0.0,0.000,43.0,39.0,0.524,14.0,107.5,108.4,-0.67,0
41,41.0,Adam Keefe,23.0,Atlanta Hawks,PF,63.0,1.0,12.1,1.5,3.4,...,0.0,0.000,57.0,25.0,0.695,0.0,101.4,96.2,4.94,0
42,42.0,Andrew Lang,27.0,Atlanta Hawks,C,82.0,0.0,19.6,2.6,5.6,...,0.0,0.000,57.0,25.0,0.695,0.0,101.4,96.2,4.94,0
43,43.0,Craig Ehlo,32.0,Atlanta Hawks,SG,82.0,0.0,26.2,3.9,8.6,...,0.0,0.000,57.0,25.0,0.695,0.0,101.4,96.2,4.94,0
44,44.0,Danny Manning,27.0,Atlanta Hawks,PF,68.0,66.0,37.1,8.6,17.7,...,0.0,0.000,57.0,25.0,0.695,0.0,101.4,96.2,4.94,0
45,45.0,Doug Edwards,23.0,Atlanta Hawks,PF,16.0,0.0,6.7,1.1,3.1,...,0.0,0.000,57.0,25.0,0.695,0.0,101.4,96.2,4.94,0
46,46.0,Duane Ferrell,28.0,Atlanta Hawks,SF,72.0,13.0,16.0,2.6,5.3,...,0.0,0.000,57.0,25.0,0.695,0.0,101.4,96.2,4.94,0
47,47.0,Ennis Whatley,31.0,Atlanta Hawks,PG,82.0,1.0,12.2,1.5,2.9,...,0.0,0.000,57.0,25.0,0.695,0.0,101.4,96.2,4.94,0
48,48.0,John Bagley,33.0,Atlanta Hawks,PG,3.0,0.0,4.3,0.0,0.7,...,0.0,0.000,57.0,25.0,0.695,0.0,101.4,96.2,4.94,0
49,49.0,Jon Koncak,30.0,Atlanta Hawks,C,82.0,78.0,22.2,1.9,4.5,...,0.0,0.000,57.0,25.0,0.695,0.0,101.4,96.2,4.94,0

In [66]:
df.to_csv("player_mvp_stats.csv", index=False)

In [67]:
mvp_players = df.loc[df['is_mvp'] > 0, ['Player', 'Year', 'is_mvp']]

In [68]:
mvp_players.head(100).count()

Player    35
Year      35
is_mvp    35
dtype: int64